<aside
  id="logo-sidebar"
  aria-label="Sidebar"
  class="fixed top-0 left-0 z-40 h-screen w-64 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="h-full pt-24 px-3 pb-3 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="flex flex-col gap-3 font-medium">
      @for (sidebarLinkInfo of sidebarLinkInfomations; track sidebarLinkInfo.id) {
        <app-sidebar-link [path]="sidebarLinkInfo.path" [name]="sidebarLinkInfo.name" [icon]="sidebarLinkInfo.icon" />
      }
    </ul>
  </div>
</aside>
