<app-head-content [title]="'アプリ設定'" [hasDescription]="false" />
<div class="flex flex-col gap-8 p-6">
  <!-- 積立無し期間 設定 -->
  <section class="flex flex-col gap-4">
    <label class="inline-flex items-center justify-between cursor-pointer">
      <span class="text-sm font-medium text-gray-900">積立無しの期間を含める</span>
      <app-switch-button [(value)]="isNoInvestmentPeriodIncluded" (markAsTouched)="markAsTouched()" />
    </label>

    <div class="flex flex-col gap-2 w-4/5">
      <div class="flex flex-col gap-1">
        <label for="currentAge" class="text-sm font-medium text-gray-900">現在の年齢</label>
        <app-select-box
          [id]="'currentAge'"
          [disabled]="!isNoInvestmentPeriodIncluded()"
          [(selectedValue)]="selectedCurrentAge"
          [selectList]="currentAgeList"
          [optionalTrailing]="'歳'"
          (markAsTouched)="markAsTouched()"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="endAge" class="text-sm font-medium text-gray-900">運用終了年齢</label>
        <app-select-box
          [id]="'endAge'"
          [disabled]="!isNoInvestmentPeriodIncluded()"
          [(selectedValue)]="selectedEndAge"
          [selectList]="endAgeList"
          [optionalTrailing]="'歳'"
          (markAsTouched)="markAsTouched()"
        />
      </div>
    </div>
  </section>

  <!-- 積立額変更 設定 -->
  <section class="flex flex-col gap-4">
    <label class="inline-flex items-center justify-between cursor-pointer">
      <span class="text-sm font-medium text-gray-900">積立額を変更する</span>
      <app-switch-button [(value)]="isAmountChangeEnabled" (markAsTouched)="markAsTouched()" />
    </label>

    <div class="flex flex-col gap-1 w-4/5">
      <label for="amountChangeCount" class="text-sm font-medium text-gray-900">変更回数</label>
      <app-select-box
        [id]="'amountChangeCount'"
        [disabled]="!isAmountChangeEnabled()"
        [(selectedValue)]="selectedAmountChangeCount"
        [selectList]="amountChangeCountList"
        [optionalTrailing]="'回'"
        (markAsTouched)="markAsTouched()"
      />
    </div>
  </section>
</div>

@let bgStyles = !isFormEdited() ? 'bg-blue-500 bg-opacity-40 cursor-not-allowed' : 'bg-blue-500 hover:opacity-70';
<div class="absolute bottom-0 left-0 grid place-content-center w-full p-4">
  <button
    [disabled]="!isFormEdited()"
    (click)="saveSetting()"
    class="{{bgStyles}} text-base font-medium text-center rounded-lg w-24 px-2 py-3 transition-opacity text-white bg-blue-500 hover:opacity-70"
  >
    保存
  </button>
</div>
