<div class="overflow-x-auto shadow-md">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 whitespace-nowrap">
    <thead class="text-xs text-gray-700 bg-gray-50">
      <tr>
        @for (headerName of tableHeaderNames; track $index) {
          <th scope="col" class="px-6 py-3">
            {{ headerName }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (tsumitate of tsumitateList(); track $index) {
        <tr class="odd:bg-white even:bg-gray-50 border-b">
          <td class="px-6 py-4">{{ tsumitate.input.initialAsset }}万円</td>
          <td class="px-6 py-4">{{ tsumitate.input.rate }}%</td>
          <td class="px-6 py-4">
            @for (year of tsumitate.input.years; track $index) {
              @if (year > 0) {
                {{ tsumitate.input.amounts[$index] }}万円 ({{ year }}年)<br class="sm:hidden" />
              }
            }
          </td>
          <td class="px-6 py-4">{{ tsumitate.output.simpleInterestCalcResult | truncateToTenThousands }}万円</td>
          <td class="px-6 py-4">
            {{ tsumitate.output.diff | truncateToTenThousands }}万円
            ({{ tsumitate.output.simpleInterestCalcResult | toPercentage:tsumitate.output.compoundInterestCalcResult }})
          </td>
          <td class="px-6 py-4">{{ tsumitate.output.compoundInterestCalcResult | truncateToTenThousands }}万円</td>
          <td class="px-6 py-4">
            <button type="button" (click)="deleteTsumitate.emit(tsumitate.id!)" aria-label="履歴削除ボタン">
              <ng-icon name="matDelete" size="24" />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
