<app-head-content [title]="'シュミレーション'" [hasDescription]="false" />
<section class="flex flex-col gap-8">
  <form [formGroup]="inputs" class="flex flex-col gap-6 p-6">
    <div class="space-y-2.5">
      <!-- 初期資産額 -->
      <div data-testid="initial-asset-container">
        <div class="flex items-center justify-between">
          <app-label-text [id]="'initialAsset'" [isRequired]="true">初期資産額</app-label-text>
          <app-display-range-input-value>{{ inputs.value.initialAsset }}</app-display-range-input-value>
        </div>
        <input
          type="range"
          id="initialAsset"
          formControlName="initialAsset"
          min="0"
          max="1000"
          step="5"
          required
          (input)="updateFormValidState()"
          class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
        />
      </div>

      <!-- 想定利回り -->
      <div data-testid="rate-container">
        <div class="flex items-center justify-between">
          <app-label-text [id]="'rate'" [isRequired]="true">想定利回り</app-label-text>
          <app-display-range-input-value>{{ inputs.value.rate }}</app-display-range-input-value>
        </div>
        <input
          type="range"
          id="rate"
          formControlName="rate"
          min="0"
          max="20"
          required
          (input)="updateFormValidState()"
          class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
        />
      </div>

      <!-- 毎月積立額 -->
      <div data-testid="amount-required-container">
        <div class="flex items-center justify-between">
          <app-label-text [id]="'amountRequired'" [isRequired]="true">毎月積立額</app-label-text>
          <app-display-range-input-value>{{ inputs.value.amountRequired }}</app-display-range-input-value>
        </div>
        <input
          type="range"
          id="amountRequired"
          formControlName="amountRequired"
          min="1"
          max="30"
          required
          (input)="updateFormValidState()"
          class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
        />
      </div>

      <!-- 積立期間 -->
      <div data-testid="year-required-container">
        <div class="flex items-center justify-between">
          <app-label-text [id]="'yearRequired'" [isRequired]="true">積立期間</app-label-text>
          <app-display-range-input-value>{{ inputs.value.yearRequired }}</app-display-range-input-value>
        </div>
        <input
          type="range"
          id="yearRequired"
          formControlName="yearRequired"
          min="1"
          max="40"
          required
          (input)="updateFormValidState()"
          class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
        />
      </div>
    </div>

    @defer (when amountChangeSetting().isAmountChangeEnabled) {
      @if (amountChangeSetting().isAmountChangeEnabled) {
        <div data-testid="any-inputs-container" class="space-y-2.5">
          <!-- 任意入力 1 -->
          @if (['1', '2', '3'].includes(amountChangeSetting().selectedAmountChangeCount)) {
            <div data-testid="amount-any-1-container">
              <div class="flex items-center justify-between">
                <app-label-text [id]="'amountAny1'" [isRequired]="false">毎月積立額</app-label-text>
                <app-display-range-input-value>{{ inputs.value.amountAny1 }}</app-display-range-input-value>
              </div>
              <input
                type="range"
                id="amountAny1"
                formControlName="amountAny1"
                min="0"
                max="30"
                (input)="updateFormValidState()"
                class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
              />
            </div>
            <div data-testid="year-any-1-container">
              <div class="flex items-center justify-between">
                <app-label-text [id]="'yearAny1'" [isRequired]="false">積立期間</app-label-text>
                <app-display-range-input-value>{{ inputs.value.yearAny1 }}</app-display-range-input-value>
              </div>
              <input
                type="range"
                id="yearAny1"
                formControlName="yearAny1"
                min="0"
                max="40"
                (input)="updateFormValidState()"
                class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
              />
            </div>
          }
          <!-- 任意入力 2 -->
          @if (['2', '3'].includes(amountChangeSetting().selectedAmountChangeCount)) {
            <div data-testid="amount-any-2-container">
              <div class="flex items-center justify-between">
                <app-label-text [id]="'amountAny2'" [isRequired]="false">毎月積立額</app-label-text>
                <app-display-range-input-value>{{ inputs.value.amountAny2 }}</app-display-range-input-value>
              </div>
              <input
                type="range"
                id="amountAny2"
                formControlName="amountAny2"
                min="0"
                max="30"
                (input)="updateFormValidState()"
                class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
              />
            </div>
            <div data-testid="year-any-2-container">
              <div class="flex items-center justify-between">
                <app-label-text [id]="'yearAny2'" [isRequired]="false">積立期間</app-label-text>
                <app-display-range-input-value>{{ inputs.value.yearAny2 }}</app-display-range-input-value>
              </div>
              <input
                type="range"
                id="yearAny2"
                formControlName="yearAny2"
                min="0"
                max="40"
                (input)="updateFormValidState()"
                class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
              />
            </div>
          }
          <!-- 任意入力 3 -->
          @if (['3'].includes(amountChangeSetting().selectedAmountChangeCount)) {
            <div data-testid="amount-any-3-container">
              <div class="flex items-center justify-between">
                <app-label-text [id]="'amountAny3'" [isRequired]="false">毎月積立額</app-label-text>
                <app-display-range-input-value>{{ inputs.value.amountAny3 }}</app-display-range-input-value>
              </div>
              <input
                type="range"
                id="amountAny3"
                formControlName="amountAny3"
                min="0"
                max="30"
                (input)="updateFormValidState()"
                class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
              />
            </div>
            <div data-testid="year-any-3-container">
              <div class="flex items-center justify-between">
                <app-label-text [id]="'yearAny3'" [isRequired]="false">積立期間</app-label-text>
                <app-display-range-input-value>{{ inputs.value.yearAny3 }}</app-display-range-input-value>
              </div>
              <input
                type="range"
                id="yearAny3"
                formControlName="yearAny3"
                min="0"
                max="40"
                (input)="updateFormValidState()"
                class="w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer"
              />
            </div>
          }
        </div>
      }
    }
  </form>

  <div class="flex gap-2 p-4">
    <!-- 最終評価額 -->
    <div class="h-14 px-4 flex-1 flex justify-between items-center bg-blue-100 rounded">
      <span class="text-sm font-medium">最終評価額</span>
      <div class="flex items-center gap-1">
        @if (compoundInterestCalcResult()) {
          <app-display-amount-value [compoundInterestCalcResult]="compoundInterestCalcResult()" />
        }
        <span class="text-sm font-medium">万円</span>
      </div>
    </div>

    <!-- 計算ボタン -->
    @let bgStyles = isAbnormalInput() ? 'bg-blue-500 bg-opacity-40 cursor-not-allowed' : 'bg-blue-500 hover:opacity-70';
    <button
      data-testid="calculate-button"
      [disabled]="isAbnormalInput()"
      (click)="onCalculate()"
      class="{{bgStyles}} text-white opacity-90 inline-flex justify-center items-center w-14 h-14 rounded"
    >
      <ng-icon name="matEquals" size="24" />
    </button>
  </div>
</section>
