<app-header />
<app-sidebar />

<div class="grid h-screen place-content-center bg-white px-4">
  <form [formGroup]="inputs">
    <div>
      <label for="amountRequired">月間積立投資額（必須）: </label>
      <input
        id="amountRequired"
        type="number"
        formControlName="amountRequired"
        required
        min="1"
        max="10"
        (input)="onInput()"
      />
      @if (inputs.get('amountRequired')?.dirty && inputs.get('amountRequired')?.getError('required')) {
        <p>必須項目です</p>
      } @else if (inputs.get('amountRequired')?.dirty && inputs.get('amountRequired')?.getError('min')) {
        <p>1以上の数値を入力してください</p>
      } @else if (inputs.get('amountRequired')?.dirty && inputs.get('amountRequired')?.getError('max')) {
        <p>10以下の数値を入力してください</p>
      }
    </div>
    <div>
      <label for="yearRequired">投資期間（必須）: </label>
      <input
        id="yearRequired"
        type="number"
        formControlName="yearRequired"
        required
        min="1"
        max="40"
        (input)="onInput()"
      />
      @if (inputs.get('yearRequired')?.dirty && inputs.get('yearRequired')?.getError('required')) {
        <p>必須項目です</p>
      } @else if (inputs.get('yearRequired')?.dirty && inputs.get('yearRequired')?.getError('min')) {
        <p>1以上の数値を入力してください</p>
      } @else if (inputs.get('yearRequired')?.dirty && inputs.get('yearRequired')?.getError('max')) {
        <p>40以下の数値を入力してください</p>
      } @else if (inputs.get('yearRequired')?.dirty && inputs.get('yearRequired')?.getError('isNotInteger')) {
        <p>整数値を入力してください</p>
      }
    </div>
    <div>
      <label for="amountAny1">月間積立投資額（任意1）: </label>
      <input id="amountAny1" type="number" formControlName="amountAny1" min="1" max="10" (input)="onInput()" />
      @if (inputs.get('amountAny1')?.dirty && inputs.get('amountAny1')?.getError('min')) {
        <p>1以上の数値を入力してください</p>
      } @else if (inputs.get('amountAny1')?.dirty && inputs.get('amountAny1')?.getError('max')) {
        <p>10以下の数値を入力してください</p>
      }
    </div>
    <div>
      <label for="yearAny1">投資期間（任意1）: </label>
      <input id="yearAny1" type="number" formControlName="yearAny1" min="1" max="40" (input)="onInput()" />
      @if (inputs.get('yearAny1')?.dirty && inputs.get('yearAny1')?.getError('min')) {
        <p>1以上の数値を入力してください</p>
      } @else if (inputs.get('yearAny1')?.dirty && inputs.get('yearAny1')?.getError('max')) {
        <p>40以下の数値を入力してください</p>
      } @else if (inputs.get('yearAny1')?.dirty && inputs.get('yearAny1')?.getError('isNotInteger')) {
        <p>整数値を入力してください</p>
      }
    </div>
    <div>
      <label for="amountAny2">月間積立投資額（任意2）: </label>
      <input id="amountAny2" type="number" formControlName="amountAny2" min="1" max="10" (input)="onInput()" />
      @if (inputs.get('amountAny2')?.dirty && inputs.get('amountAny2')?.getError('min')) {
        <p>1以上の数値を入力してください</p>
      } @else if (inputs.get('amountAny2')?.dirty && inputs.get('amountAny2')?.getError('max')) {
        <p>10以下の数値を入力してください</p>
      }
    </div>
    <div>
      <label for="yearAny2">投資期間（任意2）: </label>
      <input id="yearAny2" type="number" formControlName="yearAny2" min="1" max="40" (input)="onInput()" />
      @if (inputs.get('yearAny2')?.dirty && inputs.get('yearAny2')?.getError('min')) {
        <p>1以上の数値を入力してください</p>
      } @else if (inputs.get('yearAny2')?.dirty && inputs.get('yearAny2')?.getError('max')) {
        <p>40以下の数値を入力してください</p>
      } @else if (inputs.get('yearAny2')?.dirty && inputs.get('yearAny2')?.getError('isNotInteger')) {
        <p>整数値を入力してください</p>
      }
    </div>
    <div>
      <label for="rate">想定利回り（必須）: </label>
      <input id="rate" type="number" formControlName="rate" required min="0" max="20" (input)="onInput()" />
      @if (inputs.get('rate')?.dirty && inputs.get('rate')?.getError('required')) {
        <p>必須項目です</p>
      } @else if (inputs.get('rate')?.dirty && inputs.get('rate')?.getError('min')) {
        <p>0以上の数値を入力してください</p>
      } @else if (inputs.get('rate')?.dirty && inputs.get('rate')?.getError('max')) {
        <p>20以下の数値を入力してください</p>
      }
    </div>
    <button [disabled]="isAbnormalInput" (click)="onCalculate()">計算する</button>
  </form>
</div>

<router-outlet></router-outlet>
